@import url("./reset.css");
@import url("./tokens.css");
@import url("./motion.css");
@import url("./state-layer.css");
@import url("./layout.css");

:root {
  font-family: system-ui, sans-serif;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  min-height: 100vh;
  font-size: var(--text-sm);
  line-height: var(--leading-sm);
  color: var(--foreground);
  background-color: var(--background);
}

h1 {
  font-size: var(--text-xl);
  line-height: var(--leading-xl);
}

h2 {
  font-size: var(--text-md);
  line-height: var(--leading-md);
}
