@import "./reset.css";
@import "./tokens.css";
@import "./motion.css";
@import "./state-layer.css";
@import "./layout.css";

:root {
  font-family: system-ui, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  min-height: 100vh;
  background-color: var(--background);
  color: var(--foreground);
  font-size: var(--text-sm);
  line-height: var(--text-sm--line-height);
}

h1 {
  font-size: var(--text-xl);
  line-height: var(--text-xl--line-height);
}

h2 {
  font-size: var(--text-md);
  line-height: var(--text-md--line-height);
}
