:root,
:root[data-theme="light"] {
  color-scheme: light;

  --color-app-bg: #ffffff;
  --color-text-primary: #1a1a1a;
}

:root[data-theme="dark"] {
  color-scheme: dark;

  --color-app-bg: #1e1e1e;
  --color-text-primary: #f5f5f5;
}
