.settings-modal {
  --settings-nav-width: 153px;

  display: flex;
}

.settings-modal-nav {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 4px;
  width: var(--settings-nav-width);
  padding: 8px;
  background: var(--surface);
  border-right: var(--border-width) solid var(--border);
}

.settings-modal-content {
  flex: 1;
  padding: 16px;
}

.settings-section-header {
  margin: 0 0 16px;
  font-size: var(--text-lg);
  line-height: var(--text-lg--line-height);
}

.settings-modal-content > section + section {
  margin-top: 16px;
}
